@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
.f{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
header{
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container1{
    padding-top: 40px;
    width: 1350px;
    height: 590px;
    display: flex;
    background-image: url('images/desktop/image-hero.jpg');
    flex-direction: column;
}
.header-container2{
    display: flex;
    align-items: center; /* controls the items at the center */
    gap: 33vw;
}
.logo{
    margin-left: 8vw;
    width: 200px;
    height: 39px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.7vw;
}
.stay{
    display: block;
}
.disappear{
    display: none;
}
a{
    color: white;
    text-decoration: none;
}
.header-container3{
   width: 1340px;
    height: 400px;
    padding-top: 100px;
    padding-left: 8vw;
}
.header-container3 p{
    border: 1px solid white;
    width: 480px;
    height: 250px;
    padding: 28px 28px 28px 24px;
    font-size: 55px;
    font-synthesis-weight: 20px;
    color: white;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main-control{
    display: flex;
    flex-direction: column;
    width: 1340px;
    background-color: aqua;
}
.interactive1{
    display: flex;
    width: 1340px;
    align-items: center;
    flex-direction: row;
    padding-top: 60px;
}
.respond{
    width: 740px;
    height: 500px;
    padding-left: 93px;
}
.img-respond{
    display: flex;
    width: 1560px;
    height: 690px;
}
.leader1{
    font-size: 70px;
    font-weight: 200;
     background-color: white;
}
/* .load-control{
    border: 5px solid black;
    height: 78px;
    display: flex;
    align-items: center;
} */
.load{
    background-color: white;
    padding: 50px;
    width: 590px;
    height: 460px;
    margin-left: 32vw;
    margin-top: -39vw;
}
main p{
    color: darkgray;

}
.legacy{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    gap: 600px;
}
.create{
    font-size: 50px;
    font-weight: 200;
    padding-right: 30px;
}
.button1{
    width: 100px;
    height: 30px;
    font-weight: 500;
    position: relative;
    right: 30px;
}
.supreme1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 40px;
}
.supreme2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 100px;
}
.supreme1 p{
    position: absolute;
    margin-top: -130px;
    color: white;
    font-size: 35px;
    padding-left: 20px;
    font-weight: 200;
}
.supreme2 p{
    position: absolute;
    margin-top: -130px;
    color: white;
    font-size: 35px;
    padding-left: 20px;
    font-weight: 200;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.end{
    width: 1350px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom:5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: black;
    flex-direction: column;
}
.get{
    display: flex;
    flex-direction: row;
    gap: 30px;
    color: white;
    position: relative;
    right: 400px;
    padding-top: 10px;
}
.xi{
    display: flex;
    position: relative;
    right: 400px;
}
.end3{
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    left: 600px;
    bottom: 60px;
}
.end4{
    color: white;
    position: relative;
    top: 40px;
    right: 300px;
}